*{
    margin: 0;
    padding: 0;
}

.spinner {
    border: 10px solid #66ff00;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    position: absolute; bottom: 600px,top: -600px;
    animation-name: disappear;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

body{
    height: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);

}

@keyframes disappear{

    from{
        height: 200px;
        width: 200px;

    }

    50%{
        height: 250px;
        width: 250px;
    }

    to{
        height: 200px;
        width: 200px;
    }
}